systemsri/ConexionDatos/Web References/RegistroCivil/RegistroCivilWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Registro/" targetNamespace="http://Registro/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Registro" type="tns:Registro" />
  <xs:element name="RegistroResponse" type="tns:RegistroResponse" />
  <xs:complexType name="Registro">
    <xs:sequence>
      <xs:element minOccurs="0" name="patente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>