systemsri/ConexionDatos/Web References/Indicadores/TipoCambio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pkindicadores/" targetNamespace="http://pkindicadores/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="Indicador" type="tns:Indicador" />
  <xs:element name="IndicadorResponse" type="tns:IndicadorResponse" />
  <xs:element name="ParserConfigurationException" type="tns:ParserConfigurationException" />
  <xs:element name="SAXException" type="tns:SAXException" />
  <xs:complexType name="Indicador">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndicadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParserConfigurationException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SAXException">
    <xs:sequence>
      <xs:element minOccurs="0" name="exception" type="tns:exception" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>